version: "3.8"

services:
  db:
    image: postgres:15
    container_name: invest_bot_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DATABASE}
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${DB_PORT_EXTERNAL}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: invest_bot_redis
    restart: always
    command: redis-server --port 6379 --appendonly yes
    volumes:
      - evolution_redis:/data

  evolution_api:
    image: evoapicloud/evolution-api:latest
    container_name: evolution_api_container
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - evolution_instances:/evolution/instances
    depends_on:
      - db
      - redis

  my_invest_bot:
    build: ./bot
    container_name: python_invest_bot
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    depends_on:
      - evolution_api

volumes:
  postgres_data:
  evolution_redis:
  evolution_instances:
